/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'swiper/swiper-bundle.css';
@import "tailwindcss";

:root {
  --marker-color: #00C950FF;
}


html, body {
  height: 100%;

  .material-icons {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

body, .mat-typography {
  font-family: 'Lato', sans-serif !important;
}


.mat-typography {
  font-family: 'Lato', sans-serif;
}

html body .mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: var(--color-green-500);
  --mdc-linear-progress-track-color: var(--color-green-950);
}


.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}

.snackbar-info {
  background-color: #2196f3;
  color: white;
}

.snackbar-default {
  background-color: #323232;
  color: white;
}

.map-marker {
  width: 40px;
  height: 40px;
  background-color: var(--marker-color);
  position: relative;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform-origin: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-marker .material-icons {
  color: white;
  font-size: 22px;
  transform: rotate(45deg);
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
