<mat-sidenav-container class="h-screen">
  <mat-sidenav-content>
    <mat-toolbar class="bg-green-200 flex">
      <button mat-icon-button routerLink='/'>
        <mat-icon><img src="assets/favicon/favicon-96x96.png" alt="Logo Bel Régia Map"></mat-icon>
      </button>
      <span class="flex-1 center w-full">Bel Regia Map</span>
      <button mat-icon-button (click)="sidenavRight.toggle()">
        <mat-icon>directions</mat-icon>
      </button>
    </mat-toolbar>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenavRight mode="over" position="end" class="w-64 text-white">
    <div class="p-4 text-xl font-semibold">Cidades</div>
    <mat-accordion>
      @for (city of cities; track city.id) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ city.city }}</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="flex">
            <button (click)="setPlace(city); sidenavRight.close()" class="flex-1" mat-stroked-button>
              Filtrar por {{ city.city }}
            </button>
          </div>
          <mat-divider/>

          @for (category of city.categories; track category.id) {
            <div class="flex">
              <button (click)="setCategory(category, city); sidenavRight.close()" class="flex-1" mat-stroked-button>
                {{ category.name }}
              </button>
            </div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
