<mat-sidenav-container class="h-screen">
  <mat-sidenav-content>
    <mat-toolbar class="bg-green-200 flex">
      <button mat-icon-button routerLink='/'>
        <mat-icon><img src="assets/favicon/favicon-96x96.png" alt="Logo Bel Régia Map"></mat-icon>
      </button>
      <span class="flex-1 center w-full">Bel Regia Map</span>
      <button mat-icon-button (click)="sidenavRight.toggle()">
        <mat-icon>directions</mat-icon>
      </button>
    </mat-toolbar>
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenavRight mode="over" position="end" class="w-64 max-w-300 text-white">
    <div class="p-4 text-xl font-semibold">Cidades</div>
    <mat-accordion>
      @for (city of cities; track city.id) {
        <mat-expansion-panel [expanded]="city.id === defineLocationServices.getCityId()">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ city.city }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="menu">
            <button class="city-btn" (click)="setPlace(city); sidenavRight.close()" type="button" mat-list-item>
              Filtrar por {{ city.city }}
            </button>
            @for (category of city.categories; track category.id) {
              <button
                style="background-color: {{ category?.extra?.color }}"
                (click)="setCategory(category, city); sidenavRight.close()"
                type="button" mat-list-item
                [activated]="category.id === defineLocationServices.getCategoryId()">
                              <span class="flex gap-1 items-center " style="color: {{ category?.extra?.colorText }}">
                 <mat-icon *ngIf="category.id === defineLocationServices.getCategoryId()">check</mat-icon>
                 <mat-icon>{{ category?.extra?.icon }}</mat-icon>
                                {{ category.name }}
               </span>
              </button>
            }
          </mat-nav-list>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <a routerLink="/sobre/bel-regia-map" (click)="sidenavRight.close()" type="button" mat-list-item>
      Sobre o projeto
    </a>
  </mat-sidenav>
</mat-sidenav-container>
